<div class="page-content">
    Home page
    <debug-data [copyClick]="'a toto sa skopirovalo'">
        <div>debug - toto sa kopiruje</div>
    </debug-data>
    <div renderMarkdown>
[ľaľa](#x1-2-3-lala-ho-papluha-ogrcal-ci-)
![ľaľa](/xxx)

| Deň      | Predmet 1       | Predmet 2       | Predmet 3       | Predmet 4        |
| -------- | --------------- | --------------- | --------------- | ---------------- |
| Pondelok | Matematika      | Fyzika          | Telesná výchova | Informatika      |
| Utorok   | Slovenský jazyk | Dejepis         | Angličtina      | Biológia         |
| Streda   | Chémia          | Matematika      | Hudobná výchova | Etika            |
| Štvrtok  | Geografia       | Angličtina      | Fyzika          | Výtvarná výchova |
| Piatok   | Informatika     | Slovenský jazyk | Matematika      | Telesná výchova  |

    </div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div>testsaefwe</div>
    <div renderMarkdown>
# 1.2.3 ľaľa *ho PApľuha* / ogrcal ? či?
`test`

``` ts
var x = 100;
```

&commat;INCLUDEMD#https://raw.githubusercontent.com/ressurectit/ng-common/master/changelog.md&commat;

*ano*

``` mermaid
---
title: Node
---
flowchart LR
    id
```
    </div>
</div>
